.buttongroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdfcanvas{
    display: flex;
    justify-content: center;
    align-items: center;
}

