.navitems{
    text-decoration: none;
    color: #999;
    padding: 10px 10px;
}

.navitems:hover{
    color: linen;
}

.ddnavitems{
    text-decoration: none;
    color: #333;
}

.brand {
    text-decoration: none;
    color: #BBB;
}

.brand:hover {
    color: ivory;
}